$white: #fff;
$black: #000;

$icon-width: 75px;
$icon-width-small: 52px;
$header-height-mobile: 120px;
$header-height-tablet: 150px;
$header-height-desktop: 300px;

$overview-color: #2196F3;
$features-color: #FF9800;
$details-color: #8BC34A;

$heading-line-height: 1.35;
$page-heading-size: 34px;
$page-heading-size-small: 20px;
$page-heading-size-x-small: 18px;
$card-heading-size: 24px;

$layout-max-width: 1024px;
$layout-padding: 16px;

$anim-duration: 1s;