$icon-width: 75px;
$icon-width-small: 52px;
$header-height-mobile: 120px;
$header-height-tablet: 150px;
$header-height-desktop: 300px;

$overview-color: #2196F3;
$features-color: #FF9800;
$details-color: #8BC34A;
$technology-color: #E91E63;
$faq-color: #FFEB3B;

$anim-duration: 1s;