
.details {
  &.md-style-header {
    background-image: url(../images/greyscale/details-bg.jpg);
    animation-name: details-background-image;
    animation-duration: $anim-duration;
    background-position: 50% 20%;

    &:before {
      background-color: rgba($details-color, .5);
    }
  }
  .md-style-header {
    &__icon {
      animation-name: details-icon-scaling;
      animation-duration: $anim-duration/2;

      &:before {
        animation-name: details-background-bubble;
        animation-duration: $anim-duration*2;
        background-color: lighten($details-color, 20%);
        box-shadow: 0 0 0 -25px lighten($details-color, 5%);
      }

      &:after{
        content: "person";
      }
    }
  }

  &.md-style-tabs {
    &.mdl-color--primary-dark {
      background-color: darken($details-color, 10%)!important;
    }
  }
}

@keyframes details-background-bubble {
  0%   {box-shadow: 0 0 0  -25px darken($details-color, 5%)}
  25%  {box-shadow: 0 0 0 1000px darken($details-color, 5%)}
  100% {box-shadow: 0 0 0 1000px rgba(darken($details-color, 5%), 0)}
}

@keyframes details-background-image {
  0%   {background-image: none;}
  25%  {background-image: none}
  100% {background-image: url(../images/greyscale/details-bg.jpg);}
}

@keyframes details-icon-scaling {
  0%   {transform: scale(0)}
  80% {transform: scale(1.2)}
  100% {transform: scale(1)}
}